@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root{
 --color-white: #FFFFFF;
 --color-black: #000000;
 --color-black-two: #181B32;
 --color-gray: #8D8D9D;
 --color-gray-ligth-1:#E8EAF0;
 --color-gray-ligth-2: #F6F7F9;
}

@import url("/src/css/Header.css");

/* UI COMPONETS  */
@import url("/src/css/button.css");
@import url("/src/css/banner.css");